@using SammysBBQ.Components.Layout
@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <TopMenu/>
    </LayoutHeader>
    <LayoutContent>
        <Div ElementId="#b-animate">
            <Animate Anchor="#b-animate" Animation="Animations.ZoomIn" DelayMilliseconds="100">
                @Body
            </Animate>
        </Div>
    </LayoutContent>
    <LayoutFooter>
        <FooterMenu />
    </LayoutFooter>
</Layout>

<style>
    body{
        background-color: var(--b-theme-dark);
    }
</style>