@page "/"
@using SammysBBQ.Data
@using SammysBBQ.Pages.Home.Components


<Div Class="spotlight-container"
     Padding="Padding.Is4.FromBottom"
     Border="Border.Rounded"
     Display="Display.None.Block.OnFullHD">
        <Spotlight />
</Div>


<Grid Columns="GridColumns.Are12.OnTablet.Are8.OnMobile" ElementId="#b-animater">
    <Column ColumnSize="ColumnSize.Is8">
            <Jumbotron Background="Background.Info" Margin="Margin.Is4.OnY">
                <DisplayHeading Size="DisplayHeadingSize.Is4"
                                TextWeight="TextWeight.Bold"
                                TextColor="TextColor.Primary">
                    Delivering Perfection
                </DisplayHeading>
                <JumbotronSubtitle TextWeight="TextWeight.Normal">
                From corporate gatherings and weddings to backyard bashes and upscale soirées, Sammy's Q adapts to any occasion. Our diverse menu caters to all tastes, offering a tantalizing array of grilled delights, sides, and desserts that promise to satisfy every palate.
                </JumbotronSubtitle>
            <Button 
                Size="Size.ExtraLarge"
                    Color="Color.Primary"
                    TextWeight="TextWeight.Bold"
                    Type="ButtonType.Link"
                    To="/menu">
                CHECK OUT OUR MENU <Icon Name="IconName.ArrowRight" />
            </Button>
            </Jumbotron>
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnTablet.Is4.OnMobile">
        <Card Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle" Background="Background.Dark">
            <CardImage Source="img/calamari.jpeg" Border="Border.Rounded" Fluid/>
        </Card>
    </Column>    
    <Column ColumnSize="ColumnSize.Is2.OnTablet.Is4.OnMobile">
        <Card Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle" Background="Background.Dark">
            <CardImage Source="img/steak-meal.jpeg" Border="Border.Rounded" Fluid/>
        </Card>
    </Column>
</Grid>

<Flyers />

<Div TextAlignment="TextAlignment.Center" Padding="Padding.Is5.FromTop.Is5.FromBottom">
    <Button 
        Color="Color.Primary" 
        TextWeight="TextWeight.Bold"
        Size="Size.ExtraLarge"
        Type="ButtonType.Link"
        To="/order">ORDER NOW</Button>
</Div>


<style>
    .spotlight-container {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('img/bbq.jpeg');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        align-items: center;
        height: 70vh;
    }

    body{
        margin: 0;
    }

    .dualimg-container {
        width: 100%; /* Set container width to 100% of the parent element (in this case, the body) */
        max-width: 100%; /* Ensure the container does not exceed the viewport width */
        padding: 10px; /* Add padding to the container if needed */
        box-sizing: border-box; /* Include padding and border in the total width */
        margin: 0 auto; /* Center the container horizontally, optional */
    }

    .dualimg-img{
        width: 50%;
        max-width: 50%;
    }
</style>

@code{

    const string ContainerBackgroundColor = "rgba(165, 181, 167,.15)";
    const string ContainerBorderColor = "rgba(165, 181, 167,.15)";

    const string ItemBackgroundColor = "rgba(95, 163, 103,.15)";
    const string ItemBorderColor = "rgba(95, 163, 103,.15)";

    string flexContainerStyle = $"background-color: {ContainerBackgroundColor};border: 1px solid {ContainerBorderColor};";
    string alignItemsFlexContainerStyle = $"background-color: {ContainerBackgroundColor};border: 1px solid {ContainerBorderColor};height: 100px;";

    string flexItemStyle = $"background-color: {ItemBackgroundColor}; border: 1px solid {ItemBorderColor};";
}