@page "/"
@using SammysBBQ.Data
@using SammysBBQ.Pages.Home.Components

<Div Padding="Padding.Is4.FromBottom">
    <SpotlightCarousel />
</Div>

<Div TextAlignment="TextAlignment.Center">
    <Button 
        Color="Color.Primary" 
        TextWeight="TextWeight.Bold"
        Size="Size.ExtraLarge">ORDER NOW</Button>
</Div>