@using SammysBBQ.Data


<Grid Columns="GridColumns.Are12.OnTablet.Are8.OnMobile" ElementId="#b-animater">
    <Column ColumnSize="ColumnSize.Is8">
        <Jumbotron Background="Background.Info" Margin="Margin.Is4.OnY"
            Style="box-shadow: var(--b-theme-primary) 0px 0px 5px 0px;">
            <DisplayHeading Size="DisplayHeadingSize.Is4" TextWeight="TextWeight.Bold" TextColor="TextColor.Primary">
                @Title
            </DisplayHeading>
            <JumbotronSubtitle TextWeight="TextWeight.Normal">
                @Description
            </JumbotronSubtitle>
            <Button Size="Size.ExtraLarge" Color="Color.Primary" TextWeight="TextWeight.Bold" Type="ButtonType.Link"
                To="/menu">
                @ButtonText
                <Icon Name="IconName.ArrowRight" />
            </Button>
        </Jumbotron>
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnTablet.Is4.OnMobile">
        <Card Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle" Background="Background.Dark">
            <CardImage Source="@ImageFactory.Instance.Square(ImageSources.SteakTacos)" Border="Border.Rounded" Fluid />
        </Card>
    </Column>
    <Column ColumnSize="ColumnSize.Is2.OnTablet.Is4.OnMobile">
        <Card Position="Position.Relative.Top.Is50.Start.Is50.Translate.Middle" Background="Background.Dark">
            <CardImage Source="@ImageFactory.Instance.Square(ImageSources.PulledLambCut1)" Border="Border.Rounded"
                Fluid />
        </Card>
    </Column>
</Grid>

@code{
    private string Title = "Delivering Perfection";
    private string Description = "From corporate gatherings and weddings to backyard bashes and upscale soirées, Sammy's Q adapts to any occasion. Our diverse menu caters to all tastes, offering a tantalizing array of grilled delights, sides, and desserts that promise to satisfy every palate.";
    private string ButtonText = "CHECK OUT OUR MENU";

    protected override async Task OnInitializedAsync()
    {
        JsonDocument? data;
        
        {
            data = await ApiDataFactory.Instance.Get(new List<string>() { "root", "home", "card picture combo", "title" });
            if (data != null)
            {
                Title = data.RootElement.GetProperty("data").ToString();
            }
        }
        {
            data = await ApiDataFactory.Instance.Get(new List<string>() { "root", "home", "card picture combo", "description" });
            if (data != null)
            {
                Description = data.RootElement.GetProperty("data").ToString();
            }
        }
        {
            data = await ApiDataFactory.Instance.Get(new List<string>() { "root", "home", "card picture combo", "button text" });
            if (data != null)
            {
                ButtonText = data.RootElement.GetProperty("data").ToString();
            }
        }
    }

}