@page "/accessories"
@using SammysBBQ.Data
@using SammysBBQ.Pages.Accessories.Components
@inject IJSRuntime JSRuntime

<Div ElementId="#b-animate">
    <Animate Anchor="#b-animate" Animation="Animations.ZoomIn" DelayMilliseconds="100"
        style="max-width: 100%!important; height: auto; overflow: hidden!important;">

        <AccessoryHeader />

        <br>
        <br>

        <AccessoryModule Title="Bog Line Bush Coal" HeaderIconName="IconName.Fire">
            <CoalContent />
        </AccessoryModule>

        <br>
        <br>

        <AccessoryModule Title="Matt's Smokin' Firewood - Premium Smoking Wood" HeaderIconName="IconName.Bars">
            <WoodContent />
        </AccessoryModule>

    </Animate>
</Div>

<br>

@code {
    private bool IsMobile { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            IsMobile = await JSRuntime.InvokeAsync<bool>("isDevice");
        }
        catch (JSDisconnectedException exc)
        {
            Console.WriteLine("Warning: JS DISCONNET");
            Console.WriteLine(exc.StackTrace);
            IsMobile = false;
        }
    }
}