<Container Fluid Padding="Padding.Is4.FromTop">

    <Heading TextColor="TextColor.White">See something you like?</Heading>
    <Button Size="Size.ExtraLarge" Color="Color.Primary" TextWeight="TextWeight.Bold" Type="ButtonType.Link"
        To="/order">Order now
        <Icon Name="IconName.ArrowRight" />
    </Button>

</Container>