@page "/menu"
@using SammysBBQ.Data

<Div ElementId="#b-animate">
    <Animate Anchor="#b-animate" Animation="Animations.ZoomIn" DelayMilliseconds="100"
        style="max-width: 100%!important; height: auto; overflow: hidden!important;">

        <Row Margin="Margin.IsAuto" RowColumns="RowColumns.Are1">
            <Column TextAlignment="TextAlignment.Center">

                <MenuImages />

                <Jumbotron Width="Width.Is75" Margin="Margin.IsAuto" Background="Background.Dark"
                    Style="box-shadow: var(--b-theme-primary) 0px 2px 12px 0px;">

                    <JumbotronTitle Size="JumbotronTitleSize.Is1">@MenuTitle</JumbotronTitle>

                    <Divider />

                    <UnorderedList Unstyled>
                        @foreach (MenuItemContent item in MenuItemContents)
                        {
                            <MenuItem Content="@item" />
                        }
                    </UnorderedList>

                </Jumbotron>

                <MenuOrderPrompt />

            </Column>

        </Row>

    </Animate>
</Div>

@code {

    private string MenuTitle = "BBQ Menu";
    private List<MenuItemContent> MenuItemContents = MenuItemFactory.Instance.DefaultBBQMenuItems();

    protected override async Task OnInitializedAsync()
    {
        JsonDocument? data = await ApiDataFactory.Instance.Get(new List<string>() { "root", "menu", "bbq menu" });
        if (data != null)
        {
            MenuTitle = data.RootElement.GetProperty("title").GetProperty("data").ToString();

            var d = data.RootElement.GetProperty("items").GetProperty("data");
            MenuItemContents = JsonSerializer.Deserialize<List<MenuItemContent>>(d);
        }
    }
}