@page "/pit-master"
@using SammysBBQ.Data
@using SammysBBQ.Pages.Pit_Master.Components

<Div ElementId="#b-animate">
    <Animate Anchor="#b-animate" Animation="Animations.ZoomIn" DelayMilliseconds="100"
        style="max-width: 100%!important; height: auto; overflow: hidden!important;">
        <Grid>
            <Column ColumnSize="ColumnSize.Is1">
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Div>
                    <Image Source="@ImageSources.SammyWolfhead" Fluid />
                </Div>
            </Column>
            <Column ColumnSize="ColumnSize.Is7" TextAlignment="TextAlignment.Center">
                <Div Position="Position.Relative.Top.Is50.Translate.MiddleY">

                    <PitHeader NewLines="2">MEET THE PIT MASTER - SAM SCALA</PitHeader>

                    @foreach(string paragraph in IntroContent.Split(new string[]{"\n", "\r", "\r\n"}, StringSplitOptions.None))
                    {
                        <PitParagraph>@paragraph</PitParagraph>
                    }

                </Div>
            </Column>
            <Column ColumnSize="ColumnSize.Is1">
            </Column>
        </Grid>
    </Animate>
</Div>

@code{
    private string IntroContent = "Sam does this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and\nSam also does this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and\nSam also does this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and this and that and";

}