@page "/pit-master"
@using SammysBBQ.Data

<Div ElementId="#b-animate">
    <Animate Anchor="#b-animate" Animation="Animations.ZoomIn" DelayMilliseconds="100"
        style="max-width: 100%!important; height: auto; overflow: hidden!important;">
        <Grid>
            <Column ColumnSize="ColumnSize.Is1">
            </Column>
            <Column ColumnSize="ColumnSize.Is3">
                <Div>
                    <Image Source="@ImageSources.SammyWolfhead" Fluid />
                </Div>
            </Column>
            <Column ColumnSize="ColumnSize.Is6" TextAlignment="TextAlignment.Center">
                <Lead TextColor="TextColor.Light">ahsdouisahdosahdoiush</Lead>
            </Column>
        </Grid>
    </Animate>
</Div>